
html, body, textarea, input, select {
    font-family: sans-serif;
    font-size: 11pt;
    color: #000;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #fefefe;
}

a {
    color: #678;
    text-decoration: underline;
}

a:hover {
    color: #000;
    text-decoration: none;
}

acronym {
    cursor: help;
}

p, ul, ol {
    margin: 1em 0;
}

legend {
    font-weight: bold;
    padding: 0.2em;
}

img {
    border: 0;
}

th {
    text-align: left;
    border-bottom: 1px solid #333;
}

h1 {
    border-bottom: 3px solid #888;
    font-size: 1.8em;
    margin: 1em 0;
    padding: 0;
}

h2 {
    border-bottom: 1px solid #888;
    color: #333;
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
    padding: 0.2em 0;
    clear: left;
}

h3 {
    font-size: 1.2em;
    font-weight: normal;
}

h4 {
    font-size: 1em;
}

h1 a, h1 a:hover,
h2 a, h2 a:hover,
h3 a, h3 a:hover,
h4 a, h4 a:hover {
    text-decoration: none;
}

h2 a, h2 a:hover,
h3 a, h3 a:hover {
    color: inherit;
}

dl, dd, dt {
    margin: 0;
    padding: 0;
}

dd {
    margin-left: 1.5em;
}

.faq dt {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.8em;
}

.faq dd {
    margin-left: 1.8em;
}

q {
    font-style: italic;
}

q:before, q:after {
    content: "";
}

p.quote {
    padding: 0.5em 28px;
    clear: left;
}

.comment {
    padding: 0.5em 28px;
    clear: left;
    font-size: 0.9em;
    font-style: italic;
}

.pre {
    font-family: monospace;
    font-size: 0.9em;
    line-height: 1.2em;
}

.icon img, .icon {
    border: 0;
}

.nodisplay {
    display: none;
}

.clear-both {
    clear: both;
}

/*
 * Main blocks
 */

#wrapper {
    margin: 3em;
    line-height: 1.6em;
}

#heading {
}

#heading h1 {
    color: #678;
    font-size: 2.4em;
    margin: 0;
    padding: 0.5em;
    padding-bottom: 0;
    border: 0;
}

#heading h1 a {
    color: #678;
    font-style: italic;
}

#heading span {
    font-size: 0.4em;
    font-style: italic;
    font-weight: bold;
    position: relative;
    top: -0.3em;
    left: 0.3em;
}

#menu {
    padding: 1.3em;
    height: 1em;
    position: relative;
    z-index: 40;
    border-bottom: 3px solid #678;
}

#menu a {
    color: #000;
    text-decoration: none;
    display: block;
    margin: 0.3em 0;
    padding: 0em 0.7em;
}

#menu ol,
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#menu ol {
    height: 1.8em;
    overflow: visible;
    position: relative;
}

#menu ol li {
    float: left;
}

#menu ul {
    display: none;
    padding-bottom: 0.5em;
    padding-left: 0.4em;
    margin-left: 0.8em;
    position: absolute;
    top: 1.8em;
}

#menu ul li {
    float: none;
    width: 10em;
}

#menu ul li a {
    padding-left: 0.4em;
}

#menu ol li:hover ul {
    display: block;
}

#content {
    margin: 2em 0;
}

#footer {
    font-size: 0.9em;
    text-align: right;
    margin: 1em 0;
    padding: 0.3em 0.5em;
}

#footer a {
}

#footer img {
    vertical-align: middle;
}

