Source: prads
Section: utils
Priority: extra
Maintainer: Kacper Wysocki <kwy@redpill-linpro.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: http://gamelinux.github.com/prads/

Package: prads
Architecture: all
Depends: ${perl:Depends}, libdbi-perl, libnet-pcap-perl
Recommends: libdbd-sqlite3-perl, libdbd-mysql-perl
Description: Passive Real-time Asset Detection System
 prads.pl - inspired by passive.sourceforge.net, lcamtuf.coredump.cx/p0f and others...
 Is a `Passive Real-time Asset Detection System`. It passively listen to network traffic and gathers information on hosts and services it sees on the network. This information can be used to map your network, letting you know what services and hosts are alive/used, or can be used together with your favorite IDS/IPS setup for "event to host/service" correlation. 
