<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<head>
<title>{{ page.title }}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="/prads/css/stylesheet.css" type="text/css">
<link rel="alternate" type="application/atom+xml" href="http://gamelinux.github.com/prads/atom.xml">
<script type="text/javascript">BASEURL = 'http://gamelinux.github.com/prads'</script>
</head>

<body><div id="wrapper">

<div id="heading">
<h1>
    <a href="http://gamelinux.github.com/prads">prads</a>
</h1>
</div>

<div id="menu">
<ol>
    <li><a href="http://gamelinux.github.com/prads">Home</a></li>
    <li><a href="http://gamelinux.github.com">gamelinux</a></li>
</ol>
</div>

<div id="content">
{{ content }}
</div>

<div id="footer">
<p><a href="http://www.gamelinux.org">gamelinux.org</a></p>
</div>

</div></body>

</html>
